<!DOCTYPE html>
<html>
  <head>
    <title>REDEJournal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato' %>
    
  </head>
  <body>
    <div class="grayscale">
        <div class="container nongrayscale">
          <div class="social text-center">
            <a href="http://twiter.com/redejournal"><i class="fa fa-twitter"></i></a>
            <a href="http://facebook.com/redejournal"><i class="fa fa-facebook"></i></a>
            <a href="mailto:contact@redejournal.com"><i class="fa fa-envelope"></i></a>
            <a href="http://www.redejournal.com/about.html">About</a>
            <br>
            <p class="price">Price $0.24c</p>

          </div> 
          <% if flash[:error] -%>
            <p class='flash flash-error bg-danger text-muted'><%= flash[:error] %></p>
          <% end -%>
          <% if flash[:notice] -%>
            <p class='flash flash-notice bg-success text-muted'><%= flash[:notice] %></p>
          <% end -%>
          <%= yield %>
        </div>
        <div class="footer text-center">
          <div class="container">
            <div class="social">
              <a href="http://twiter.com/redejournal"><i class="fa fa-twitter"></i></a>
              <a href="http://facebook.com/redejournal"><i class="fa fa-facebook"></i></a>
              <a href="mailto:contact@redejournal.com"><i class="fa fa-envelope"></i></a>
            </div>  
            <div class="copyright">
              <a href="http://redejournal.com">© redejournal.com</a> - Design by <a href="http://digitalhub.io">DigitalHub.io</a>

            </div>  
            <div class="admin">
            <%= link_to "Admin", admin_root_path %> 
            
          </div>
        </div>
      </div>
  </body>
</html>
